/* This is a CSS document created for the course Technologies web et multimedia*/
body {
	font-family:  Helvetica;
	background-color: #fff;
	margin: 0;
	line-height: 1.4;
	padding: 0;
	color: #000;
	font-size: 80%;
}

/*css rule pour les paragraps*/
p {
  margin: 15px;
  font-size: 70%;
}

/*css rule pour les liens*/
ul, ol, dl { 
	text-align: center;
	padding: 0;
	margin: 0;
}
				    
				    
h1, h2, h3, p {
	font-family:  Helvetica;
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}

/* rule pour les small devices */
@media (min-width: 576px){
	div{
		padding: 5px;
	}
	p{
		font-size: smaller;
	}
}

/* css rule pour l'image de fond de l'element <p>*/
/*Pour que l’image soit centrée, back-ground position center */
/*et que couvre la totalité de la largeur de l’élément, background size cover*/
/* on ne veut pas repeat, donc, no-repeat*/
/* on peut ajuster la color du text, mais dans ce cas le noir (par defect) était deja bien*/
p{
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover ;
	color: #000;
}
